%p
  Blog
  = link_to "www.palinium.com", root_url
  is a simple site hosted on Heroku servers, created with Ruby on Rails, postgresql, backbone&marionette.

%p
  If you want to contact me, please send me a message to:
  = mail_to "palinium@gmail.com"

%p I'm working in London, UK
