.comment
  %p.meta
    = comment.author
    &#8226;
    = comment.title
    &#8226;
    %time{ datetime: comment.created_at }
      = comment.created_at.strftime("%A, %e %B %Y")
  %p.content= comment.content