.fb-like{"data-action" => "like", "data-href" => "#{post_path(post)}", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "false"}
<hr>
.comments#comments
  %h3.with_link Comments
  %a#new_comment_link{ href: "#add_new_comment" }
    %button.btn.btn-primary add new
  %section#comments_section
    - if comments.present?
      - comments.each_with_index do |c, i|
        = render partial: "comments/comment", locals: { comment: c, index: i + 1 }
    - else
      .no_comments
        %p There are no comments yet
  .new#add_new_comment
    = render partial: "comments/new_comment"
