html {
  height: 100%;
  #flash {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    text-align: center;
    span {
      margin-right: 10px;
    }
    .alert, .notice {
      color: #fff;
      text-shadow: none;
      border: none;
      border-radius: 0px;
      padding-left: 20px;
      height: 20px;
    }
    .alert {
      background-color: #E74C3C;
    }
    .notice {
      background-color: #2ECC71;
      padding: 10px 20px;
    }
  }
  body.blog, body.about {
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: rgb(17, 67, 114);

    #env_box {
      text-align: center;
      width: 100px;
      height: 20px;
      padding: 5px;
      background: rgb(15, 91, 162);
      color: rgb(255, 255, 255);
      position: fixed;
      top: 10px;
      left: 10px;
    }
    #container {
      margin: 0 auto;
      width: 890px;

      h1, h2, h3, h4, h5 {
        padding: 0;
        margin: 0;
        font-weight: 300;
        margin: 10px 0;
      }
      h1 {
        font-size: 76px;
      }
      h2 {
        font-size: 47px;
      }
      h3 {
        font-weight: 400;
        font-size: 29px;
      }
      h4 {
        font-size: 18px;
      }
      h5 {
        font-style: italic;
        font-size: 14px;
      }
      article {
        p:first-child {
          text-indent: 47px;
        }
        p:first-child:first-letter {
          font-weight: 700;
        }
      }
      p {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        text-align: justify;
        margin-bottom: 26px;
      }
      header, footer {
        padding: 0 30px;
      }
      header {
        height: 38px;
        h1, h2, h3, h4, h5 {
          margin: 0;
        }
        h2 {
          text-align: right;
          margin-right: 25px;
          a {
            text-decoration: none;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
      section.layout {
        -webkit-box-shadow: 0px 0px 24px -4px #000000;
        box-shadow: 0px 0px 24px -4px #000000;
        min-height: 100%;
        background: #fff;
        overflow: hidden;
        padding-top: 0px;
        .left_column {
          border-top: 20px solid rgb(21, 89, 153);
          width: 850px;
          padding: 20px 20px 30px 20px;
          float: left;

          img#palin {
            margin-top: -20px;
            margin-right: -20px;
            width: 100px;
            height: 100px;
            float: right;
            transform: rotate(180deg);
           -moz-transform: rotate(180deg);
           -webkit-transform: rotate(180deg);
          }
        }
      }
      footer {
        height: 100px;
      }
    }
  }
}
