html {
  height: 100%;

  body {
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: #ccc;

    #container {
      margin: 0 auto;
      width: 900px;
      -webkit-box-shadow: 32px -30px 25px -25px #888888, -32px -30px 25px -25px #888888;
      box-shadow: 32px -30px 25px -25px #888888, -32px -30px 25px -25px #888888;

      h1, h2, h3, h4 {
        padding: 0;
        margin: 0;
        font-weight: 300;
      }
      h1 {
        font-size: 76px;
      }
      h2 {
        font-size: 47px;
      }
      h3 {
        font-size: 29px;
      }
      h4 {
        font-size: 18px;
      }
      p:first-child {
        text-indent: 47px;
      }
      p:first-child:first-letter {
        font-weight: 700;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        text-align: justify;
        margin-bottom: 26px;
      }
      header, section, footer {
        width: 840px;
      }
      header, footer {
        background: #eee;
        padding: 0 30px;
      }
      header {
        height: 100px;
      }
      section {
        min-height: 100%;
        background: #fff;
        padding: 20px 30px;
      }
      footer {
        height: 300px;
      }
    }
  }
}