.opacity (@value) {
  -moz-opacity: @value/100;
  -khtml-opacity: @value/100;
  opacity: @value/100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{value})";
}

@dashed_border: 5px dashed #eee;
html {
  body {
    #posts {
      p.meta {
        text-indent: 0px;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 10px;
        text-shadow: none;
        img {
          margin-bottom: 6px;
          margin-right: 4px;
        }
        a.comments {
          color: #2455c3;
        }
      }
      .post {
        header {
          height: auto;
          padding: 0;
          margin: 0;
          background: #fff;
          h3 {
            a, a:hover, a:visited {
              color: #2455c3;
              text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
            }
          }
        }
        article {
          padding: 0;
          background: #fff;
          a.omission {
            text-decoration: none;
          }
          a.go_to {
            text-decoration: none;
            color: #000;
          }
          button.omission {
            margin: 15px 0 20px 0;
            width: 115px;
          }
          ol, ul {
            margin-left: 40px;
            li {
              margin-bottom: 5px;
              font-size: 16px;
              font-weight: 400;
            }
          }
          h4 {
            font-size: 25px;
            font-weight: 400;
            margin: 30px 0;
            color: #000;
            text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
          }
          h5 {
            font-size: 16px;
            font-weight: 400;
          }
          #code_block {
            pre {
              background: #23241f;
              padding: 0px 15px 15px 15px;
              code {
                font: 12px Monaco, "Source Code Pro", Courier, Monospace;
                line-height: 18px;
                padding: 0;
                span.irb_input {
                  color: #2980B9;
                }
                span.irb_output {
                  color: #d14;
                }
              }
            }
            #copy_strip {
              padding-top: 5px;
              text-align: center;
              border-left: @dashed_border;
              border-right: @dashed_border;
              img {
                height: 20px;
                .opacity (20);
              }
              #copy {
                margin-top: -5px;
                font-size: 12px;
                color: #999;
              }
            }
            #copy_strip:hover {
              background: #ccc;
              cursor: pointer;
            }
          }
        }
      }
      .tags {
        height: 35px;
        text-align: right;
        width: 715px;
        margin: -62px 0 0 auto;
        border: none;
        img {
          margin: 2px 0;
        }
        span {
          font-size: 13px;
          font-weight: 300;
        }
      }
    }
  }
}
