@media screen and (max-width: 640px) {
  html {
    body {
      #palin {
        display: none;
      }
      #posts {
        .post {
          header {
            h3 a {
              font-size: 24px;
            }
            img {
              display: none;
            }
            .post-tags {
              display: none;
            }
          }

          article {
            h4 {
              font-size: 22px;
              margin: 15px 0;
            }
          }
        }
      }
    }
  }
}
